<ion-view title="{{title}}">
  <ion-nav-buttons side="right">
    <button ng-if="id" ng-click="updateCampaign(campaign)" class="button button-clear">Save</button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" padding="'true'" class="has-header">

    <campaign-form></campaign-form>

    <!-- <button class="button button-stable button-block ">Add Photo</button> -->
    <div class="button-bar">
      <button ng-if="!id" ng-click="createCampaign()" class="button button-balanced button-block">Start a Campaign</button>
    </div>
  </ion-content>
</ion-view>
