<ion-view title="Home">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <!-- <h4>Welcome to {{location}}</h4> -->
    <!-- <div class="item range">
      Location:
      <input type="range" name="volume">
      <i class="icon ion-ios-location"></i>
    </div> -->
    <div class="button-bar" ng-init="selected=1">
      <button ng-class="{'active': !filter}" class="button button-stable button-block ion-ios-location large-icon" ng-click="changeFilter()"></button>
      <button ng-class="{'active': filter === 'time'}" class="button button-stable button-block ion-clock large-icon"></button>
      <button ng-class="{'active': filter === 'campaigns'}" class="button button-stable button-block ion-person large-icon" ng-click="changeFilter('campaigns')"></button>
      <button ng-class="{'active': filter === 'followers'}" class="button button-stable button-block ion-heart large-icon" ng-click="changeFilter('followers')"></button>
    </div>

    <ion-refresher pulling-text="Pull to refresh..." on-refresh="getCampaigns()">
    </ion-refresher>

    <ion-list>
      <div style="margin: 0 auto; width:100px">
        <ion-spinner icon="dots" ng-hide="loaded"></ion-spinner>
      </div>
      <div collection-repeat="campaign in Campaign.campaigns | orderBy : '-created_at'">
      <campaign-list-item></campaign-list-item>
      </div>
    </ion-list>
    
  </ion-content>
</ion-view>
