<ion-view title="Rich Neighbors">
    <ion-content overflow-scroll="true" padding="'true'" class="has-header">
        <!-- <h4>Welcome to {{location}}</h4> -->
        
        <div class="item range">
            Location:
            <input type="range" name="volume">
            <i class="icon ion-ios-location"></i>
        </div>
        
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="getCampaigns()">
        </ion-refresher>
        
        <ion-list>
        <div style="margin: 0 auto; width:100px">
                <ion-spinner icon="dots" ng-hide="loaded"></ion-spinner>
        </div>
                <ion-item class="item-thumbnail-left" collection-repeat="camp in campaigns" ng-click="viewCampaign(camp)">
                    <img ng-src="{{camp.picture_url}}">
                    <h2>{{camp.title}}</h2>
                    <p>{{camp.goal | currency}}</p>
                    <p>{{camp.raised}}</p>
                    
                    <i id="like" ng-class="{'icon ion-ios7-heart': liked, 'icon ion-ios7-heart-outline': !liked}" ng-click="liked=!liked" ng-click="like(camp)"></i>
                </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
