<div class="cause-info-bar" data-goal="20%">
    <span style="{{'width:' + ((campaign.donated / campaign.goal * 100) || 0) + '%'}}"></span>
  </div>
  <table class="campaign-stats">
  	<tr>
  		<td><b>{{(campaign.donated / campaign.goal * 100) | number:0}}%</b></td>
  		<td><b>{{campaign.donated | currency}}</b></td>
  		<!-- <td><b>15</b></td> -->
  		<td><b>{{Campaign.daysLeft(campaign)}}</b></td>
  	</tr>
  	<tr>
  		<th>funded</th>
  		<th>pledged</th>
  		<!-- <th>volunteers</th> -->
  		<th>days left</th>
  	</tr>
  </table>