<ion-view title="Login">

    <ion-content overflow-scroll="true" padding="'true'" class="has-header">
        <form class="form" name="form" novalidate>
            <ion-list>

                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input ng-model="data.username" type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input ng-model="data.password" type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button ng-click="login(data)" class="button button-stable button-block ">Log in</button>
            <button class="button button-positive button-block ">Log In With Facebook</button>
        </form>
        <a href="#/signup" class="button button-balanced button-block ">Or create an account</a>
    </ion-content>
</ion-view>