
.ng-binding {
	color: rgb(86, 93, 99) !important;
}

.nav-bar-block, .bar {
  background-color: rgb(23, 33, 41) !important;
}

.title {
	color: rgb(33, 153, 232) !important;
}

.bar .buttons span {
	color: rgb(58, 219, 118) !important;
}

.tab-item-active {
	background-color: rgb(46, 66, 82) !important;
}

.tab-item .icon {
	color: rgb(23, 33, 41) !important;
}

.tab-item-active .icon {
	color: rgb(58, 219, 118) !important;
}

.tab-item-active .tab-title {
	color: white !important;
}

.button-positive {
	background-color: rgb(33, 153, 232) !important;
	border-color: rgb(33, 153, 232) !important;
}
	
.button-balanced {
	color: rgb(58, 219, 118) !important;
	border-color: rgb(58, 219, 118) !important;
	color: white !important;
	font-weight: 500;
}

.following-bar {
	color: white;
}

.large-icon {
    font-size: 30px;
}

.tab-nav {
	border-top: 20px;
}

.overflow-scroll {
	/*background-color: rgb(46, 66, 82) !important;*/
}

/*.campaign-item {
	background-color: #344655;
	
}

h2.ng-binding {
	color: white !important;
}*/

.no-padding {
    padding: 0px !important;
}

.campaign-stats b {
	font-size: 1em;
}

.campaign-stats td, .campaign-stats th {
	padding-right: 5px;
	border: 0px;
	cellpadding: 0px;
	cellspacing: 0px;
}
.campaign-stats tr {
	padding: 0px;
}

.campaign-stats {
	margin: 0px;
	font-size: .8em;
	text-align: left;
}


.cause-info-bar {
    border-radius: 15px;
    background-color: rgb(162, 202, 234);
    height: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.cause-info-bar span {
    border-radius: 15px;
    background-color: rgb(46, 66, 82);
    height: 15px;
    display: block;
    left: 0;
    position: relative;

    width: 0;
    max-width: 100%;
}

